<!-- <ul *ngFor="let article of articles | async">
    		{{article.title}}
</ul> -->

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#"><img class="img-responsive" src="/assets/img/Rossella-Logo.png" width="200px" ></a>
        </div>
      <div class="collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav">
          <li><a id="myPopover" data-toggle="popover"  data-trigger="hover" data-placement="bottom" data-content="Step by step app walkthrough." routerLink="/tutorial" routerLinkActive="active">Tutorial</a>
          </li>
          <li><a id="myPopover2" data-toggle="popover"  data-trigger="hover" data-placement="bottom" data-content="Change settings like time zone and tweet topics." routerLink="/settings" routerLinkActive="active">Settings</a>
          </li>
          <li><a id="myPopover3" data-toggle="popover"   data-trigger="hover" data-placement="bottom" data-content="Select and schedule tweets here"  routerLink="/mytweets" routerLinkActive="active">My Tweets</a>
          </li>
          <li><a id="myPopover4" data-toggle="popover"  data-trigger="hover" data-placement="bottom" data-content="Login and out of the application here" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<router-outlet></router-outlet>
